# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.python-version

# Data and Large Files (Excluir por tamaño en GitHub)
data/**/*.zip
data/**/*.dbf
data/**/*.csv
data/**/*.xlsx
data/**/*.xml
data/**/*.txt

# Exceptuar los archivos SHP de Hermosillo procesados que son pequeños
!data/hermosillo_shapefile/*.shp
!data/hermosillo_fatales_2020_2024/*.shp
!data/hermosillo_maestro_2020_2024/*.shp

# Resultados de reportes
*.pdf

# QGIS
*.qgz
*.qgs
.qgis2/
data/**/*.json
